{% extends "view/layout/base.html" %} {% block body %}

<!-- TODO : form  -->

{% set alquiler = data.alquiler %}
{% set autos = data.autos %}
{% set clientes = data.clientes %}

<div class="hero">
  <div class="hero-body">
    <p class="level-item is-size-4 has-text-centered has-text-weight-bold">
      {% if alquiler.id %} Editando alquiler con ID : {{alquiler.id}} {% else %} Nuevo alquiler
      {% endif %}
    </p>
  </div>
</div>

<hr />

<section class="section">
  <form action="/alquiler/save" method="POST">
    <input type="hidden" name="id" value="{{alquiler.id}}">
    <div class="container has-text-centered">
      <div class="field-body">
        <div class="field">
          <label class="label is-size-5">Auto</label>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="auto_id" required class="is-hoverable has-text-centered">
                <option {{"selected" if alquiler.id}}>Seleccione</option>
                {% for auto in autos %}
                  <option {{"selected" if alquiler.auto.id === auto.id}} class="is-uppercase" value="{{auto.id}}" ><pre >{{auto.marca}}  {{auto.modelo}}</pre></option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label is-size-5">Cliente</label>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="cliente_id" required class="is-hoverable has-text-centered">
                <option {{"selected" if alquiler.id}}>Seleccione</option>
                {% for cliente in clientes %}
                  <option {{"selected" if alquiler.cliente.id === cliente.id}} class="is-uppercase"  value="{{cliente.id}}" ><pre  >{{cliente.nombre}}  {{cliente.apellido}}</pre></option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label is-size-5">Medio de pago</label>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="medio-pago" required class="is-hoverable">
                <option {{"selected" if alquiler.id}}>Seleccione</option>
                <option {{"selected" if alquiler.medioDePago === "TARJETA"}} value="TARJETA">TARJETA</option>
                <option {{"selected" if alquiler.medioDePago === "EFECTIVO"}} value="EFECTIVO">EFECTIVO</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label is-size-5">¿Está pago?</label>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="pagado" required class="is-hoverable">
                <option {{"selected" if alquiler.id}}>Seleccione</option>
                <option {{"selected" if alquiler.pagado === "SI"}} value="SI">SI</option>
                <option {{"selected" if alquiler.pagado === "NO"}} value="NO">NO</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="field-body my-5">
        <div class="field">
          <label class="label is-size-5">Desde</label>
          <p class="control is-expanded">
            <input
            required
            class="input has-text-centered"
            type="date"
            name="desde"
            value="{{alquiler.desde}}"
            />
          </p>
        </div>
        <div class="field">
          <label class="label is-size-5">Hasta</label>
          <p class="control is-expanded">
            <input
            required
              class="input has-text-centered"
              type="date"
              name="hasta"
              value="{{alquiler.hasta}}"
              />
            </p>
          </div>
        </div>
        <div class="field-body my-5">
          <div class="field">
            <label for="" class="label is-size-5">Precio unitario</label>
            <p class="control is-expanded">
              <input class="input has-text-centered" type="number" name="precio-unitario" value="{{alquiler.precioUnitario}}"
                placeholder="Ej: 30000" required />
            </p>
          </div>
          <!-- <div class="field">
            <label class="label is-size-5">Medio de pago</label>
            <div class="control is-expanded">
              <div class="select is-rounded">
                <select name="medio-pago" required class="is-hoverable">
                  <option {{"selected" if alquiler.id}}>Seleccione</option>
                  <option {{"selected" if alquiler.medioDePago === "TARJETA"}} value="TARJETA">TARJETA</option>
                  <option {{"selected" if alquiler.medioDePago === "EFECTIVO"}} value="EFECTIVO">EFECTIVO</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label is-size-5">¿Está pago?</label>
          <div class="control is-expanded">
            <div class="select is-rounded">
              <select name="pagado" required class="is-hoverable">
                <option {{"selected" if alquiler.id}}>Seleccione</option>
                <option {{"selected" if alquiler.pagado === "SI"}} value="SI">SI</option>
                <option {{"selected" if alquiler.pagado === "NO"}} value="NO">NO</option>
              </select>
            </div>
          </div>
        </div> -->
      </div>
      
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <input type="submit" class="button is-primary is-large" value="Guardar" />
        </p>
        <p class="control">
          <a class="button is-light is-large" href="/alquiler"> Cancel </a>
        </p>
      </div>
    </div>
    </div>
  </form>
</section>

{% endblock %}