{% extends "view/layout/base.html" %} 


{% block body %}

<!-- TODO : form  -->

{% set cliente = data.cliente %}

<div class="hero">
  <div class="hero-body">
    <p class="level-item is-size-4 has-text-centered has-text-weight-bold">
      {% if cliente.id %} Editando cliente con ID : {{cliente.id}} 
      {% else %} Nuevo cliente
      {% endif %}
    </p>
  </div>
</div>

<hr />


<section class="section">
  <form action="/cliente/save" method="POST">
    <input type="hidden" name="id" value="{{cliente.id}}">
    <div class="container has-text-centered">
      <div class="field">
      <div class="field-body">
        <div class="field">
          <label for="" class="label is-size-5">Nombre</label>
          <p class="control is-expanded">
            <input
              class="input has-text-centered"
              type="text"
              name="nombre"
              value="{{cliente.nombre}}"
              placeholder="Ej: Juan"
              required
            />
          </p>
        </div>
        <div class="field">
          <label for="" class="label is-size-5">Apellido</label>
          <p class="control is-expanded">
            <input
              class="input has-text-centered"
              type="text"
              name="apellido"
              value="{{cliente.apellido}}"
              placeholder="Ej: Super candy"
              required
            />
          </p>
        </div>
      </div>
      <div class="field-body pt-5">
        <div class="field">
          <label for="" class="label is-size-5">Tipo de documento</label>
          <p class="control is-expanded">
            <input
              class="input has-text-centered"
              type="text"
              name="tipo-documento"
              value="{{cliente.tipoDocumento}}"
              placeholder="Ej: DNI"
              required
            />
          </p>
        </div>
        <div class="field">
          <label for="" class="label is-size-5">Nro documento</label>
          <p class="control is-expanded">
            <input
              class="input has-text-centered"
              type="number"
              name="numero-documento"
              value="{{cliente.numeroDocumento}}"
              placeholder="Ej: 44.361.644"
              required
            />
          </p>
        </div>
      </div>
      <div class="field-body pt-5">
        <div class="field">
          <label for="" class="label is-size-5">Nacionalidad</label>
          <p class="control is-expanded">
            <input
              class="input has-text-centered"
              type="text"
              name="nacionalidad"
              placeholder="Ej: Negro"
              value="{{cliente.nacionalidad}}"
            />
          </p>
        </div>
        <div class="field">
          <label class="label is-size-5">Dirección</label>
          <p class="control is-expanded">
            <input
              required
              class="input has-text-centered"
              type="text"
              name="direccion"
              placeholder="Ej: San martin 450 3b"
              value="{{cliente.direccion}}"
            />
          </p>
        </div>
      </div>
      <div class="field-body pt-5">
        <div class="field">
          <label class="label is-size-5">Teléfono</label>
          <p class="control is-expanded">
            <input
              required
              class="input has-text-centered"
              type="tel"
              name="telefono"
              placeholder="Ej: 1134301887"
              value="{{cliente.telefono}}"
            />
          </p>
        </div>
        <div class="field">
          <label class="label is-size-5">Email</label>
          <p class="control is-expanded">
            <input
              required
              class="input has-text-centered"
              type="email"
              name="email"
              placeholder="Ej: juan@gmail.com"
              value="{{cliente.email}}"
            />
          </p>
        </div>
      </div>
      <div class="field-body pt-5">
        <div class="field">
          <label class="label is-size-5">Fecha de nacimiento</label>
          <p class="control is-expanded">
            <input
              required
              class="input has-text-centered"
              type="date"
              name="fecha-nacimiento"
              value="{{cliente.fechaNacimiento}}"
            />
          </p>
        </div>
      </div>
      <div class="field is-grouped pt-5 is-grouped-centered">
        <p class="control">
          <input
            type="submit"
            class="button is-primary is-large"
            value="Guardar"
          />
        </p>
        <p class="control">
          <a class="button is-light is-large" href="/cliente"> Cancel </a>
        </p>
      </div>
      </div>
    </div>
  </form>
</section>

{% endblock %}
