{% extends "view/layout/base.html" %}

{% block body %}


{% for message in data.messages %}
<div class="container-fluid my-3">
  <div class="notification is-success has-text-centered">
    <p>{{message}}</p>
    <button class="delete is-medium cerrar-notificacion"></button>
  </div>
</div>
{% endfor %} 

{% for error in data.errors %}
<div class="container-fluid my-3 ">
  <div class="notification is-danger has-text-centered">
    <p>{{error}}</p>
    <button class="delete is-medium cerrar-notificacion"></button>
  </div>
</div>
{% endfor %} 

<div class="level">

  <div class="level-item has-item-centered">
    <a href="/auto/create" class="button">
      <span class="icon is-medium">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span>Nuevo auto</span>
    </a>
  </div>

  <div class="level-item has-item-centered">
    <a href="/auto/available" class="button">
      <span class="icon is-medium">
        <i class="fas fa-clipboard-check"></i>
      </span>
      <span>Autos disponibles</span>
    </a>
  </div>

</div>

<div class="hero">
  <div class="hero-body">
    <p class="level-item is-size-4 has-text-centered has-text-weight-bold">
     {{ data.title }}
    </p>
  </div>
</div>


<table class="table is-fullwidth has-background-light has-text-centered	">
  <thead>
    <tr>
      <th><span class="is-size-6">ID</span></th>
      <th><span class="is-size-6">Marca</span></th>
      <th><span class="is-size-6">Modelo</span></th>
      <th><span class="is-size-6">Año</span></th>
      <th><span class="is-size-6">Kms</span></th>
      <th><span class="is-size-6">Color</span></th>
      <th><span class="is-size-6">A/C</span></th>
      <th><span class="is-size-6">Pasajeros</span></th>
      <th><span class="is-size-6">Cambio automatico</span></th>
      <th><span class="is-size-6">Activo</span></th>
      <th><span class="is-size-6">Rentado</span></th>
      <th><span class="is-size-6">Precio por día</span></th>
      <th><span class="is-size-6">Edit</span></th>
      <th><span class="is-size-6">Delete</span></th>

    </tr>
  </thead>
  <tbody>
  {% for auto in data.autos %} 
    <tr class="has-background-grey-dark has-text-white">
      <td><span class="is-size-6">{{auto.id}}</span></td>
      <td><span class="is-size-6">{{auto.marca}}</span></td>
      <td><span class="is-size-6">{{auto.modelo}}</span></td>
      <td><span class="is-size-6">{{auto.anio}}</span></td>
      <td><span class="is-size-6">{{auto.kms}}</span></td>
      <td><span class="is-size-6">{{auto.color}}</span></td>
      <td><span class="is-size-6">{{auto.aireAcondicionado}}</span></td>
      <td><span class="is-size-6">{{auto.pasajeros}}</span></td>
      <td><span class="is-size-6">{{auto.esAutomatico}}</span></td>
      <td><span class="is-size-6">{{auto.activo}}</span></td>
      <td><span class="is-size-6">{{auto.rentado}}</span></td>
      <td><span class="is-size-6">{{auto.precioPorDia}}</span></td>
      <td><span class=" is-size-6"> <a class="button" href="/auto/{{auto.id}}" ><i class="fas fa-edit"></i></a> </span></td>
      <td><span class=" is-size-6"> <a class="button action-delete" href="/auto/delete/{{auto.id}}" data-id="{{auto.id}}" data-marca="{{auto.marca}}"  ><i class="fas fa-trash"></i></a> </span></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th><span class="is-size-6">ID</span></th>
      <th><span class="is-size-6">Marca</span></th>
      <th><span class="is-size-6">Modelo</span></th>
      <th><span class="is-size-6">Año</span></th>
      <th><span class="is-size-6">Kms</span></th>
      <th><span class="is-size-6">Color</span></th>
      <th><span class="is-size-6">A/C</span></th>
      <th><span class="is-size-6">Pasajeros</span></th>
      <th><span class="is-size-6">Cambio automatico</span></th>
      <th><span class="is-size-6">Activo</span></th>
      <th><span class="is-size-6">Rentado</span></th>
      <th><span class="is-size-6">Precio por día</span></th>
      <th><span class="is-size-6">Edit</span></th>
      <th><span class="is-size-6">Delete</span></th>
    </tr>
  </tfoot>
</table>

  {% endblock %}
</table>

{% block footerscripts %}

  <script src="/public/js/auto.index.js"></script>

{% endblock %}